/* ===========================
   GLOBAL RESET
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F8FAFC;
    color: #1F2937;
}

/* ===========================
   NAVBAR
=========================== */

.navbar{
    background:#ffffff;
    padding:18px 0;
    box-shadow:0 2px 15px rgba(0,0,0,.05);
}

.navbar-brand{
    font-size:2rem;
    font-weight:700;
}

.nav-link{
    color:#374151;
    margin-left:20px;
    font-weight:500;
    transition:.3s;
}

.nav-link:hover{
    color:#4F46E5;
}

/* ===========================
   HERO SECTION
=========================== */

.hero-section{
    min-height:90vh;
    display:flex;
    align-items:center;
}

.hero-content h1{

    font-size:4rem;
    font-weight:700;
    line-height:1.2;
    color:#1F2937;

}

.hero-content span{

    color:#4F46E5;

}

.hero-content p{

    margin-top:25px;
    font-size:1.15rem;
    line-height:1.8;
    color:#6B7280;
    max-width:550px;

}

/* ===========================
   JOIN CARD
=========================== */

.join-card{

    background:#fff;

    padding:40px;

    border-radius:20px;

    box-shadow:0 20px 45px rgba(0,0,0,.08);

}

.join-card h3{

    font-weight:700;

    margin-bottom:10px;

}

.join-card p{

    color:#6B7280;

    margin-bottom:30px;

}

.form-control{

    padding:14px;

    border-radius:12px;

    border:1px solid #D1D5DB;

}

.form-control:focus{

    border-color:#4F46E5;

    box-shadow:none;

}

.create-room-btn{
    width:100%;
    background-color:#4F46E5 !important;
    color:white !important;
    padding:14px 18px;
    border:none;
    border-radius:12px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s ease;
}







.create-room-btn:hover{

    background:#4338CA !important;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(79,70,229,.3);
}










.join-room-btn{
    width:100%;
    background-color:#10B981 !important;
    color:white !important;
    padding:14px 18px;
    border:none;
    border-radius:12px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s ease;
}





.join-room-btn:hover{

    background:#059669 !important;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(16,185,129,.3);
}


/* ===========================
   HERO FEATURES
=========================== */

.hero-features{
    margin-top:35px;
}

.feature-item{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:15px;
    font-size:1rem;
    font-weight:500;
    color:#374151;
}

.feature-item i{
    color:#10B981;
    font-size:1.2rem;
}

.create-room-btn i,
.join-room-btn i{

    margin-right:8px;

}